<div class="mb-2">
  <%= render PageHeaderComponent.new do %>
    <div class="mb-1">
      <%= render BackNavigationComponent.new(
        href: team_path(@team),
        text: "team"
      ) %>
    </div>
    <%= render PageTitleComponent.new(title: "Edit team") %>
  <% end %>
</div>

<%= form_with model: @team, data: { turbo: false } do |f| %>
  <% if @team.errors.any? %>
    <%= render FormErrorsComponent.new(resource: @team, descriptor: "team") %>
  <% end %>

  <div class="mt-2">
    <div><%= f.label :name %></div>
    <div><%= f.text_field :name %></div>
  </div>

  <div class="w-32 py-2 mt-4 font-medium text-center text-white bg-gray-800 rounded-full cursor-pointer">
    <%= f.submit "Update team", class: "cursor-pointer" %>
  </div>
<% end %>
