<div class="mb-2">
  <%= render PageHeaderComponent.new do %>
    <div class="mb-1">
      <%= render BackNavigationComponent.new(href: teams_path, text: "teams") %>
    </div>
    <%= render PageTitleComponent.new(title: "Add a new team") %>
  <% end %>
</div>

<%= form_with model: @team, data: { turbo: false } do |f| %>
  <% if @team.errors.any? %>
    <div>
      <%= pluralize(@team.errors.count, "error") %>
      prevented this team from being saved:
    </div>
    <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class="mt-2">
    <div>
      <%= f.label :name %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="w-32 py-2 mt-4 font-medium text-center text-white bg-gray-800 rounded-full cursor-pointer">
    <%= f.submit "Add team", class: "cursor-pointer" %>
  </div>
<% end%>
