<div class="mb-2">
  <%= render PageHeaderComponent.new do %>
    <div class="mb-1">
    <%= render BackNavigationComponent.new(
          href: teams_path,
          text: "teams"
    ) %>
    </div>
    <div class="mb-1">
      <%= render PageTitleComponent.new(title: @team.name) %>
    </div>
    <div class="flex space-x-3">
      <%= render EditLinkComponent.new(href: edit_team_path(@team), text: "team") %>
      <%= render DeleteLinkComponent.new(href: team_path(@team), text: "team") %>
    </div>
  <% end %>
</div>

<div class="mt-4 mb-4">
  <%= render AddLinkComponent.new(
    href: new_team_athlete_path(@team), text: "player"
  ) %>
</div>

<% if @team.athletes.any? %>
  <table class="w-full table-auto">
    <thead>
      <tr>
        <th class="pb-1.5 text-left border-b">
          Last name
        </th>
        <th class="pb-1.5 text-left border-b">
          First name
        </th>
        <th class="pb-1.5 text-left border-b hidden sm:table-cell">
          Position
        </th>
      </tr>
    </thead>
    <tbody>
      <% @team.athletes.order(last_name: :asc).each_with_index do |athlete, index| %>
      <tr>
        <td class="<%= "pt-1.5" if index == 0 %>">
          <%= link_to athlete.last_name, athlete %>
        </td>
        <td class="<%= "pt-1.5" if index == 0 %>">
          <%= link_to athlete.first_name, athlete %>
        </td>
        <td class="<%= "pt-1.5" if index == 0 %> hidden sm:table-cell">
          <%= link_to athlete.position, athlete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div>
    Players are listed here.
    <%= link_to "Add one now", new_team_athlete_path(@team), class: "hover:underline text-gray-600" %>
    to start filling out the roster.
  </div>
<% end %>
