<div class="mb-2">
  <%= render PageHeaderComponent.new do %>
    <div class="mb-1">
      <%= render BackNavigationComponent.new(
        href: @athlete,
        text: "player details"
      ) %>
    </div>
    <%= render PageTitleComponent.new(title: "Edit player details") %>
  <% end %>
</div>

<%= form_with model: @athlete, data: { turbo: false } do |f| %>
  <div class="mt-2">
    <div>
      <%= f.label :first_name %>
    </div>
    <div>
      <%= f.text_field :first_name %>
    </div>
  </div>

  <div class="mt-2">
    <div>
      <%= f.label :last_name %>
    </div>
    <div>
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="mt-2">
    <div>
      <%= f.label :position %>
    </div>
    <div>
      <%= f.text_field :position %>
    </div>
  </div>

  <div class="mt-2">
    <div>
      <%= f.label :jersey_number %>
    </div>
    <div>
      <%= f.number_field :jersey_number %>
    </div>
  </div>

  <div class="w-32 py-2 mt-4 font-medium text-center text-white bg-gray-800 rounded-full cursor-pointer">
    <%= f.submit "Update player", class: "cursor-pointer" %>
  </div>
<% end %>
