<div class="mb-1">
  <%= link_to team_path(@athlete.team) do %>
    <div class="flex items-center space-x-1 text-gray-600 transition duration-300 border-b border-white max-w-fit hover:border-b hover:border-gray-400">
      <div>
        <svg class="w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 19l-7-7m0 0l7-7m-7 7h18">
          </path>
        </svg>
      </div>
      <div>
        Back to team
      </div>
    </div>
  <% end %>
</div>

<div class="mb-3">
  <div class="text-2xl uppercase">
    <div class="font-light">
      <%= @athlete.first_name %>
    </div>
    <div class="font-bold">
      <%= @athlete.last_name %>
    </div>
  </div>

  <div class="flex flex-col space-y-1 sm:flex-row sm:space-y-0 sm:space-x-1">
    <div class="flex space-x-2 sm:space-x-0">
      <div class="font-bold text-gray-500 sm:hidden">
        &middot;
      </div>
      <div>
        <%= link_to @athlete.team.name, team_path(@athlete.team) %>
      </div>
    </div>

    <div class="hidden font-bold text-gray-500 sm:inline">
      &middot;
    </div>

    <div class="flex space-x-2 sm:space-x-0">
      <div class="font-bold text-gray-500 sm:hidden">
        &middot;
      </div>
      <div>
        <%= @athlete.position %>
      </div>
    </div>

    <div class="hidden font-bold text-gray-500 sm:inline">
      &middot;
    </div>

    <div class="flex space-x-2 sm:space-x-0">
      <div class="font-bold text-gray-500 sm:hidden">
        &middot;
      </div>
      <div>
        #<%= @athlete.jersey_number %>
      </div>
    </div>
  </div>
</div>

<div class="flex-col space-y-2">
  <%= render EditLinkComponent.new(
        path: edit_athlete_path(@athlete),
        text: "player details"
      ) %>
  <%= render DeleteLinkComponent.new(path: athlete_path(@athlete), text: "player") %>
</div>
