<div>
  <div class="text-2xl uppercase">
    <div class="font-light">
      <%= @athlete.first_name %>
    </div>
    <div class="font-bold">
      <%= @athlete.last_name %>
    </div>
  </div>
  <div class="flex space-x-1">
    <div>
      <%= @athlete.team.name %>
    </div>
    <div class="font-bold text-gray-500">
      &middot;
    </div>
    <div>
      <%= @athlete.position %>
    </div>
    <div class="font-bold text-gray-500">
      &middot;
    </div>
    <div>
      #<%= @athlete.jersey_number %>
    </div>
  </div>
</div>
