<div class="mb-2">
  <div class="mb-1">
    <%= render BackNavigationComponent.new(
          path: team_path(@athlete.team),
          text: "team"
    ) %>
  </div>
  <%= render PageHeaderComponent.new do %>
    <%= render PageTitleComponent.new(title: "Player details") %>
  <% end %>
</div>

<div class="mb-3">
  <div class="text-2xl uppercase">
    <div class="font-light">
      <%= @athlete.first_name %>
    </div>
    <div class="font-bold">
      <%= @athlete.last_name %>
    </div>
  </div>

  <div class="flex flex-col space-y-1 sm:flex-row sm:space-y-0 sm:space-x-1">
    <div class="flex space-x-2 sm:space-x-0">
      <div class="font-bold text-gray-500 sm:hidden">
        &middot;
      </div>
      <div>
        <%= link_to @athlete.team.name, team_path(@athlete.team) %>
      </div>
    </div>

    <div class="hidden font-bold text-gray-500 sm:inline">
      &middot;
    </div>

    <div class="flex space-x-2 sm:space-x-0">
      <div class="font-bold text-gray-500 sm:hidden">
        &middot;
      </div>
      <div>
        <%= @athlete.position %>
      </div>
    </div>

    <div class="hidden font-bold text-gray-500 sm:inline">
      &middot;
    </div>

    <div class="flex space-x-2 sm:space-x-0">
      <div class="font-bold text-gray-500 sm:hidden">
        &middot;
      </div>
      <div>
        #<%= @athlete.jersey_number %>
      </div>
    </div>
  </div>
</div>

<div class="flex-col space-y-2">
  <%= render EditLinkComponent.new(
        path: edit_athlete_path(@athlete),
        text: "player details"
      ) %>
  <%= render DeleteLinkComponent.new(path: athlete_path(@athlete), text: "player") %>
</div>
