<div class="mb-1">
  <%= link_to team_path(@athlete.team) do %>
    <div class="flex items-center space-x-1 text-gray-600 transition duration-300 border-b border-white max-w-fit hover:border-b hover:border-gray-400">
      <div>
        <svg class="w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 19l-7-7m0 0l7-7m-7 7h18">
          </path>
        </svg>
      </div>
      <div>
        Back to team
      </div>
    </div>
  <% end %>
</div>

<div class="mb-3">
  <div class="text-2xl uppercase">
    <div class="font-light">
      <%= @athlete.first_name %>
    </div>
    <div class="font-bold">
      <%= @athlete.last_name %>
    </div>
  </div>

  <div class="flex flex-col space-y-1 sm:flex-row sm:space-y-0 sm:space-x-1">
    <div class="flex space-x-2 sm:space-x-0">
      <div class="font-bold text-gray-500 sm:hidden">
        &middot;
      </div>
      <div>
        <%= link_to @athlete.team.name, team_path(@athlete.team) %>
      </div>
    </div>

    <div class="hidden font-bold text-gray-500 sm:inline">
      &middot;
    </div>

    <div class="flex space-x-2 sm:space-x-0">
      <div class="font-bold text-gray-500 sm:hidden">
        &middot;
      </div>
      <div>
        <%= @athlete.position %>
      </div>
    </div>

    <div class="hidden font-bold text-gray-500 sm:inline">
      &middot;
    </div>

    <div class="flex space-x-2 sm:space-x-0">
      <div class="font-bold text-gray-500 sm:hidden">
        &middot;
      </div>
      <div>
        #<%= @athlete.jersey_number %>
      </div>
    </div>
  </div>
</div>

<div class="flex-col space-y-2">
  <div class="max-w-fit">
    <%= link_to edit_athlete_path(@athlete) do %>
      <div class="flex items-center space-x-1 text-gray-600 transition duration-300 border-b border-white hover:border-b hover:border-gray-400">
        <div>
          <svg class="h-4" fill="none" stroke="currentColor"
            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z">
            </path>
          </svg>
        </div>
        <div>
          Edit player details
        </div>
      </div>
    <% end %>
  </div>
  <div class="max-w-fit">
    <%= link_to athlete_path(@athlete), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } do %>
      <div class="flex items-center space-x-1 text-gray-600 transition duration-300 border-b border-white hover:border-b hover:border-gray-400">
        <div>
          <svg class="h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
            </path>
          </svg>
        </div>
        <div>
          Delete player
        </div>
      </div>
    <% end %>
  </div>
</div>
